#ifndef DPI
    #ifdef SRVR_azazel
        #define DPI 192
    #elif SRVR_narya
        #define DPI 144
    #endif
#endif

Xft.dpi: DPI

Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.antialias: 1
Xft.rgba: rgb

Xcursor.theme: Breeze_Snow
Xcursor.size: 48
